/* nav bar style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.nav-tittle{
    font-size: 45px;
font-style: normal;
font-weight: 800;
}
.tittle-primary {
    color: #FD6E0A;;
}

.btn-praimary{
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    color: white;
    padding: 18px,35px;
}


nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    
}

nav a {
    text-decoration: none;
    color: #474747;
}